.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.anti-select{
    user-select: none;
}

@theme-color: rgba(255, 81, 28, 1);

@keyframes blink {
    0%, 100% {
        opacity: 1; /* 完全不透明 */
    }
    50% {
        opacity: 0.5; /* 完全透明 */
    }
}
